@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --card-border-radius: 10px
}

* {
  box-sizing: border-box;
  list-style: none;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  text-decoration: none;
  transition: all .25s ease
}

html {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Noto Sans, sans-serif;
  height: 100%;
  width: 100dvw;

  &body {
    background-image: radial-gradient(at 86% 45%, #303030 0, #0000 50%), radial-gradient(at 21% 96%, #474747 0, #0000 50%), radial-gradient(at 16% 5%, #262626 0, #0000 50%), radial-gradient(at 94% 56%, #0f0f0f 0, #0000 50%), radial-gradient(at 66% 76%, #424242 0, #0000 50%), radial-gradient(at 7% 2%, #484747 0, #0000 50%), radial-gradient(at 49% 76%, #212121 0, #0000 50%);
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;

    nav {
      align-items: center;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background: #0003;
      display: flex;
      flex-direction: row;
      font-size: medium;
      font-weight: 700;
      height: 80px;
      justify-content: space-between;
      margin: 0;
      padding-inline: 1rem;
      position: fixed;
      top: 0;
      width: 100dvw;
      z-index: 10;

      a:link,
      a:visited {
        color: #fff !important;
        text-decoration: none !important
      }

      menu:first-child {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;

        li {
          align-items: center;
          display: flex;
          flex-direction: row;
          gap: .5rem;
          justify-content: center
        }
      }

      menu:nth-child(2) {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;

        li {
          align-items: center;
          display: flex;
          flex-direction: row;
          gap: .5rem;
          justify-content: center;

          a {
            color: #fff
          }

          i {
            height: 40px;
            width: 40px
          }
        }
      }
    }

    header {
      -webkit-user-select: none;
      user-select: none;

      picture {
        img {
          object-fit: cover;
          object-position: center;
          transition: all .25s ease;

          &:hover {
            filter: grayscale(100%)
          }
        }
      }
    }

    main {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      height: -moz-fit-content;
      height: fit-content;
      justify-content: center;
      margin-top: 20px;
      margin-inline: auto;
      position: relative;

      .card {
        aspect-ratio: 4/2;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background: #1a1a1a33;
        border-radius: var(--card-border-radius);
        position: relative;
        transition: background .1s;

        &:hover {
          --active: 1
        }

        &:after {
          background: radial-gradient(circle at calc(var(--x)*1px) calc(var(--y)*1px), #ffffff26, #0000 15vmin);
          background-attachment: fixed;
          border-radius: var(--card-border-radius)
        }

        &:after,
        &:before {
          content: "";
          inset: 0;
          opacity: var(--active, 0);
          pointer-events: none;
          position: absolute;
          transition: opacity .2s
        }

        &:before {
          background: radial-gradient(circle at calc(var(--x)*1px) calc(var(--y)*1px), hsla(0, 0%, 100%, .5), #0000 15vmin), #0000;
          background-attachment: fixed;
          -webkit-mask: linear-gradient(#fff, #fff) 50% 0 /100% 4px no-repeat, linear-gradient(#fff, #fff) 50% 100% /100% 4px no-repeat, linear-gradient(#fff, #fff) 0 50% /4px 100% no-repeat, linear-gradient(#fff, #fff) 100% 50% /4px 100% no-repeat;
          mask: linear-gradient(#fff, #fff) 50% 0 /100% 4px no-repeat, linear-gradient(#fff, #fff) 50% 100% /100% 4px no-repeat, linear-gradient(#fff, #fff) 0 50% /4px 100% no-repeat, linear-gradient(#fff, #fff) 100% 50% /4px 100% no-repeat;
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          -webkit-mask-position: 0 0, 0 100%, 0 0, 100% 0;
          mask-position: 0 0, 0 100%, 0 0, 100% 0;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-size: 100% 50%, 100% 50%, 50% 100%, 50% 100%;
          mask-size: 100% 50%, 100% 50%, 50% 100%, 50% 100%
        }
      }

      section {
        margin-right: 2rem;
        max-height: 600px;
        max-width: 800px;
        min-height: 300px;
        min-width: 400px;
        width: 100%;

        article {
          width: -moz-fit-content;
          width: fit-content;

          h2 {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 1rem;
            text-align: left
          }

          p {
            font-size: 1rem;
            overflow-wrap: break-word;
            text-align: left;
            text-indent: 2rem;
            word-wrap: break-word;
            hyphens: auto;
            margin-bottom: 1rem;
            word-break: break-word;

            a {
              color: #36c
            }
          }

          section[role=group] {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            details {
              height: 350px;
              width: 330px;

              ul {
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
                margin-top: 0;
                overflow: auto;
                padding-left: 0 !important;
                width: 300px !important;

                &:after {
                  border-top-left-radius: 0 !important;
                  border-top-right-radius: 0 !important
                }

                li {
                  list-style-type: single-emoji !important;
                  margin-left: auto;
                  width: 100% !important;

                  p {
                    font-size: small;
                    left: -20px;
                    margin-left: auto;
                    padding-left: 0;
                    text-align: left !important;
                    width: 100%;

                    strong {
                      text-align: left !important
                    }
                  }
                }
              }
            }

            details>p {
              display: inline-block;
              font-weight: 300;
              height: 0;
              overflow: hidden;
              padding: 0 0 0 1rem;
              width: 300px
            }

            details[open]>p {
              height: -moz-fit-content;
              height: fit-content;
              padding: 1rem 0 1rem 2rem
            }

            summary {
              border-bottom: 1px solid #000;
              border-inline: 1px solid #000;
              border-top: 1px solid #000;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              cursor: pointer;
              font-weight: 600;
              padding: 1rem;
              position: relative;
              width: 300px;

              &:after {
                content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-width='1.5' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5'/%3E%3C/svg%3E");
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='hsl(0 0% 98%)' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
                position: absolute;
                right: 0;
                top: 50%;
                transform-origin: 50% 40%;
                transition: rotate .2s;
                translate: 0 -35%;
                width: 20px
              }
            }

            details[open] summary:after {
              rotate: -180deg
            }
          }
        }
      }
    }
  }

  footer {
    align-items: center;
    background: #00000080;
    bottom: 0;
    display: flex;
    font-size: medium;
    font-weight: 700;
    height: 80px;
    justify-content: space-between;
    padding-inline: 1rem;
    position: absolute;
    width: 100%;

    p:first-child {
      margin-left: 40px
    }

    p:last-child {
      margin-right: 40px;

      a:link,
      a:visited {
        color: #fff !important;
        text-decoration: underline !important
      }
    }
  }
}

@media (prefers-color-scheme:light) {

  body,
  html {
    background-color: #181818;
    color: #000
  }
}

@media (prefers-color-scheme:dark) {

  body,
  html {
    background-color: #181818;
    color: #f5f5f5
  }

  summary {
    border-color: #fafafa80
  }
}

@counter-style single-emoji {
  system: cyclic !important;
  symbols: "\2B50" !important;
  suffix: " " !important
}
